@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims


<div id="DemoCarousel" class="carousel slide" data-interval="2000" data-ride="carousel">
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/images/speech1.jpg" />
            <div class="carousel-caption">
                <h3>This is the First Label</h3>
                <p>The Content of the First Slide goes in here</p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/speech2.jpg" />
            <div class="carousel-caption">
                <h3>This is the Second Label</h3>
                <p>The Content of the Second Slide goes in here</p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/speech3.jpg" />
            <div class="carousel-caption">
                <h3>This is the Third Label</h3>
                <p>The Content of the Third Slide goes in here</p>
            </div>
        </div>
    </div>
</div>
<br />

<!-- Control Buttons -->
<div style="text-align:center;">
    <input type="button" class="btn btn-success start" value="Start" />
    <input type="button" class="btn btn-danger pause" value="Pause" />
    <input type="button" class="btn btn-warning slide-1" value="Slide-1" />
    <input type="button" class="btn btn-warning slide-2" value="Slide-2" />
    <input type="button" class="btn btn-warning slide-3" value="Slide-3" />
    <br />
    <ul class="pager">
        <li class="prevSlide"><a href="#">Previous</a></li>
        <li class="nextSlide"><a href="#">Next</a></li>
    </ul>
</div>






@if (User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>
}