@{
    ViewData["Title"] = "Son of Cod";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims

<h1>Welcome!</h1>

@if (User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>
}