@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Common Issues</h1>

<iframe src="https://calendar.google.com/calendar/embed?src=322jp0r5tirlpe01ot48henkf0%40group.calendar.google.com&ctz=America/Los_Angeles" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>