@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <h1>Speech Milestones for Children</h1>

    <h3>0 to 1 Year</h3>
    <ul>
        <li>Makes cooing and babbling noises, most often beginning with p, b, and m.</li>
        <li>Starts to babble longer sounds and can speak one or two words towards the one year mark.</li>
    </ul>

    <h3>1 to 2 Years</h3>
    <ul>
        <li>Regularly learns new words.</li>
        <li>Says up to two-worded questions and phrases.</li>
        <li>Says words beginning with many different sounds.</li>
    </ul>

    <h3>2 to 3 Years</h3>
    <ul>
        <li>Says up to three-worded questions or phrases.</li>
        <li>Speech is understood by family.</li>
        <li>Knows most words.</li>
    </ul>

    <h3>3 to 4 Years</h3>
    <ul>
        <li>Says sentences or questions that contain four or more words.</li>
        <li>Speech is fluid.</li>
        <li>Can answer many questions.</li>
    </ul>

    <h3>4 to 5 Years</h3>
    <ul>
        <li>Says detailed sentences.</li>
        <li>Correctly says most connsonants.</li>
        <li>Can use correct grammer.</li>
    </ul>
</div>



@*<iframe src="https://calendar.google.com/calendar/embed?src=322jp0r5tirlpe01ot48henkf0%40group.calendar.google.com&ctz=America/Los_Angeles" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>*@