@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1>Schedule your consultation now</h1>
    <hr />
    <!-- Calendly inline widget begin -->
    <div class="calendly-inline-widget" data-url="https://calendly.com/nsanders9022/consultation/07-06-2017" style="min-width:320px;height:580px;"></div>
    <script type="text/javascript" src="https://calendly.com/assets/external/widget.js"></script>
    <!-- Calendly inline widget end -->

</div>