@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container user-form">
    <h1>Video Session</h1>
    <hr />
    <h2>Starting a video session</h2>
    <h4>Click on the call button below to log into your Skype account and call the therapist at Speech Solutions at the beginning of the scheduled session time.</h4>

    <div id="SkypeButton_Call_nicky9022_1">
        <script type="text/javascript">
            Skype.ui({
                "name": "call",
                "element": "SkypeButton_Call_nicky9022_1",
                "participants": ["nicky9022"],
                "imageSize": 32
            });
        </script>
    </div>

    <h4>The therapist may also call you at the appointed time over Skype video.</h4>

    <h2>New to Skype?</h2>
    <h4><a href="https://www.skype.com/en/">Create an account</a> and add the therapist to your contact list.</h4>
</div>