@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container user-form">
    <h1>Video Session</h1>
    <hr />
    <h2>Starting a video session</h2>
    <h4>Click on the call button below to log into your Skype account and call the therapist at the beginning of the scheduled session time.</h4>

    <div id="SkypeButton_Call_nicky9022_1">
        <script type="text/javascript">
            Skype.ui({
                "name": "call",
                "element": "SkypeButton_Call_nicky9022_1",
                "participants": ["nicky9022"],
                "imageSize": 32
            });
        </script>
    </div>

    <h4>The therapist may also call you at the appointed time so be sure to be logged into your Skype account.</h4>

    <h2>New to Skype?</h2>
    <h4><a href="https://www.skype.com/en/">Create an account</a> and add Dayna to your contact list. Her user name will be given to you during your initial consultation with her.</h4> 
    <h2>Technical difficulties?</h2>
    <h4>Use the chat button at the bottom right of the screen to get in contact with a member of staff if you need assistance or are having technical difficulties.</h4>
</div>