/*green #0d512a
light blue #74c0cd
light green #bee4e7
lilac #a69afe
dark blu #2f2989*/

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}


body {
    font-family: "Lato", sans-serif;
}

#container {
    position: relative;
    height: 100%;
}

.body-div {
    box-sizing: border-box;
    margin-top: 50px;
    min-height: 100%;
    padding-bottom: 150px;
    padding: 0 0 150px;
    position: relative;
}

/*---------------------------------Footer---------------------------------*/

#footer {
    bottom: 0;
    height: 150px;
    left: 0;
    position: absolute;
    width: 100%;
    background-color: #bee4e7;
    text-align: left;
    font-size: 12px;
    color: gray;
    z-index: 7;
}

.footer-heading {
    color: #2f2989;
    font-weight: bold;
    padding-top: 10px;
}

.icon {
    width: 15px;
    height: auto;
}

/*---------------------------------Navigation bar---------------------------------*/

.navbar-toggle {
    z-index: 3;
}

.top-navbar {
    background-color: #a69afe;
}

.nav-link > *, .navbar-brand, .glyphicon a, .dropdown-toggle {
    color: white !important;
    vertical-align: middle;
    font-size: 17px;
}

.dropdown-toggle:active, .open .dropdown-toggle {
    background: #a69afe !important;
    color: white !important;
}

.glyphicon {
    vertical-align: middle;
}

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: 0 auto;
    font-size: 30px;
}

.glyphicon a {
    padding-left: 5px;
    margin-right: 5px;
}

/*---------------------------------Buttons---------------------------------*/

.btn a {
    color: white;
    font-size: 16px;
}

.btn {
    background-color: #a69afe;
    margin: 30px 0px;
    border: 2px inset gray;
    display: block;
}



/*---------------------------------Carosel---------------------------------*/

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    height: 800px;
    margin: auto;
}

.carousel-caption {
    background-color: rgba(229, 230, 232, 0.8);
    border: 2px solid #74c0cd;
    width: 30%;
    margin: 0 auto;
}

.carousel-caption h3 {
    color: white !important;
    font-weight: bold;
}

/*---------------------------------Home page---------------------------------*/

.home-body {
    padding-top: 3%;
    padding-bottom: 2%;
    height: 100%;
    /*width: 70%;*/
}

.intro {
    height: 300px;
}

h1 {
    color: #74c0cd;
    font-weight: bold;
    text-align: center;
}

h3 {
    text-align: center;
}

/*---------------------------------Speech Bubbles/Reviews---------------------------------*/

.reviews {
    background-color: #e5e6e8;
    padding-left: 20%;
    right: 0;
}

.bubble h4 {
    font-size: 24px;
    font-weight: bold;
    color: #2f2989;
}

.bubble p {
    font-size: 16px;
    text-overflow: ellipsis;
    font-style: italic;
}

.bubble {
    position: relative;
    width: 375px;
    height: 275px;
    padding: 12px;
    margin: 5% 1%;
    background: #FFFFFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: #bee4e7 solid 6px;
}

.bubble:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 30px 24px 0;
    border-color: #FFFFFF transparent;
    display: block;
    width: 0;
    z-index: 1;
    margin-left: -24px;
    bottom: -30px;
    left: 14%;
}

.bubble:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 35px 29px 0;
    border-color: #bee4e7 transparent;
    display: block;
    width: 0;
    z-index: 0;
    margin-left: -29px;
    bottom: -41px;
    left: 14%;
}

.quotes {
    font-size:60px;
    line-height:0.6em;
    opacity:0.2;
}

/*---------------------------------Process Section---------------------------------*/

.process {
    height: 580px;
    padding-top: 5%;
}

.process-images {
    margin-left: 12%;
}

.process-icon {
    height: 150px;
    margin-right: 15px;
}

.step {
    display: none;  
    padding-left: 25%;
    width: 80%;
}

.step h3 {
    font-weight: bold;
}

.step h4 {
    padding-bottom: 15px;
}
/*---------------------------------Account Info---------------------------------*/

.property {
    font-weight: bold;
}

.person {
    margin: auto;
    display: block;
    height: 150px;
    margin-bottom: 30px;
}

.comment {
    height: 75px;
    margin: 0 auto;
    display: block;
}

.info {
    width: 70%;
    margin-left: 15%;
}

#edit-button {
    margin-left: 20%;
}

.user-form {
    width: 30%;
}

/*---------------------------------About Page--------------------------------*/

.about-image img {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.about-square {
    height: 200px;
    margin: 0.5%;
    width: 32%;
    border: 6px solid #bee4e7;
    text-align: center;
    padding-top: 70px;
    background-color: #e5e6e8;
}

.scroll-links {
    font-size: 25px;
    color: #2f2989;
    font-weight: bold;
    list-style: none;
}

.about-square:hover {
    cursor: pointer;
    border: 10px solid #bee4e7;
}

.abouts {
    margin-left: 0.5%;
}

#dayna {
    float: right;
    margin: 0 0 10px 20px;
    padding: 1px;
    height: 150px;
}

.about-p {
    text-align: justify;
    font-size: 16px;
}

.scroll-section {
    height: 500px;
    width: 100%;
    padding-top: 40px;
}

.up-arrow {
  height: 30px;
  float: right;
  cursor: pointer;
}


/*---------------------------------Review Page---------------------------------*/

.form-control {
    margin-bottom: 20px;
}

.reviews-page {
    width: 100%;
    padding-left: 20%;
    margin-right: -10px;
}

.reviews-page-button {
    margin-bottom: 30px;
}

/*green #0d512a
light blue #74c0cd
light green #bee4e7
lilac #a69afe
dark blu #2f2989*/


/*---------------------------------Resource Page---------------------------------*/
.resource-image {
    height: 200px;
    margin: auto;
    display: block;
}

.resources h4 {
    font-weight: bold;
    text-align: center;
}

.author {
    color: gray;
    margin-left: 5%;
}

.resources a {
    display: block;
    padding-bottom: 15px;
}

/*---------------------------------Milestone Page---------------------------------*/

.timeline {
    position: relative;
    padding:4px 0 0 0;
    margin-top:22px;
    list-style: none;
}

.timeline>li:nth-child(even) {
    position: relative;
    margin-bottom: 50px;
    height: 180px;
    right:-100px;
}

.timeline>li:nth-child(odd) {
    position: relative;
    margin-bottom: 50px;
    height: 180px;
    left:-100px;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
    min-height: 170px;
}

.timeline > li .timeline-panel {
  position: relative;
  float: left;
  width: 41%;
  padding: 0 20px 20px 30px;
  text-align: right;
}

.timeline>li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li .timeline-image {
    z-index: 100;
    position: absolute;
    left: 50%;
    border: 2px solid #74c0cd;
    border-radius: 100%;
    background-color: #74c0cd;
    width: 75px;
    height: 75px;
    margin-left: -50px;
}

.timeline>li .timeline-image h4 {
    margin-top: 12px;
    font-size: 10px;
    line-height: 14px;
    text-decoration: underline;
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li:last-child {
    margin-bottom: 0;
}

.timeline .timeline-heading h4 {
    margin-top:22px;
    margin-bottom: 4px;
    padding:0;
    color: #74c0cd;
    font-size: 24px;
}

/*.timeline .timeline-heading h4.subheading {
  margin:0;
  padding:0;
    text-transform: none;
    font-size:18px;
    color:#333333;
}*/

.timeline .timeline-body>p,
.timeline .timeline-body>ul {
    margin-bottom: 0;
    color:#808080;
}
/*Style for even div.line*/
.timeline>li:nth-child(odd) .line:before {
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 650px;
    width: 7px;
    height:300px;
    background-color: #bee4e7;
    -ms-transform: rotate(-40deg);
    -webkit-transform: rotate(-40deg);
    transform: rotate(-40deg);
}
/*Style for odd div.line*/
.timeline>li:nth-child(even) .line:before  {
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 450px;
    width: 7px;
    height:340px;
    background-color: #bee4e7;
    -ms-transform: rotate(40deg);
    -webkit-transform: rotate(40deg); 
    transform: rotate(40deg);
}
/* Medium Devices, .visible-md-* */
@media (min-width: 992px) and (max-width: 1199px) {
  .timeline > li:nth-child(even) {
    margin-bottom: 0px;
    min-height: 0px;
    right: 0px;
  }
  .timeline > li:nth-child(odd) {
    margin-bottom: 0px;
    min-height: 0px;
    left: 0px;
  }
  .timeline>li:nth-child(even) .timeline-image {
    left: 0;
    margin-left: 0px;
  }
  .timeline>li:nth-child(odd) .timeline-image {
    left: 690px;
    margin-left: 0px;
  }
  .timeline > li:nth-child(even) .timeline-panel {
    width: 76%;
    padding: 0 0 20px 0px;
    text-align: left;
  }
  .timeline > li:nth-child(odd) .timeline-panel {
    width: 70%;
    padding: 0 0 20px 0px;
    text-align: right;
  }
  .timeline > li .line {
    display: none;
  }
}
/* Small Devices, Tablets */
@media (min-width: 768px) and (max-width: 991px) {
  .timeline > li:nth-child(even) {
    margin-bottom: 0px;
    min-height: 0px;
    right: 0px;
  }
  .timeline > li:nth-child(odd) {
    margin-bottom: 0px;
    min-height: 0px;
    left: 0px;
  }
  .timeline>li:nth-child(even) .timeline-image {
    left: 0;
    margin-left: 0px;
  }
  .timeline>li:nth-child(odd) .timeline-image {
    left: 520px;
    margin-left: 0px;
  }
  .timeline > li:nth-child(even) .timeline-panel {
    width: 70%;
    padding: 0 0 20px 0px;
    text-align: left;
  }
  .timeline > li:nth-child(odd) .timeline-panel {
    width: 70%;
    padding: 0 0 20px 0px;
    text-align: right;
  }
  .timeline > li .line {
    display: none;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 767px) {
  .timeline > li:nth-child(even) {
    margin-bottom: 0px;
    min-height: 0px;
    right: 0px;
  }
  .timeline > li:nth-child(odd) {
    margin-bottom: 0px;
    min-height: 0px;
    left: 0px;
  }
  .timeline>li .timeline-image {
    position: static;
    width: 100px;
    height: 150px;
    margin-bottom:0px;
  }
  .timeline>li:nth-child(even) .timeline-image {
    left: 0;
    margin-left: 0;
  }
  .timeline>li:nth-child(odd) .timeline-image {
    float:right;
    left: 0px;
    margin-left:0;
  }
  .timeline > li:nth-child(even) .timeline-panel {
    width: 100%;
    padding: 0 0 20px 14px;
  }
  .timeline > li:nth-child(odd) .timeline-panel {
    width: 100%;
    padding: 0 14px 20px 0px;
  }
  .timeline > li .line {
    display: none;
  }
}



/*.timeline {
    white-space: nowrap;
    overflow-x: hidden;
}

.timeline ol {
    font-size: 0;
    width: 100vw;
    padding: 250px 0;
    transition: all 1s;
}

.timeline ol li {
    position: relative;
    display: inline-block;
    list-style-type: none;
    width: 160px;
    height: 3px;
    background: green;
}

.timeline ol li:last-child {
    width: 280px;
}

.timeline ol li:not(:first-child) {
    margin-left: 14px;
}

.timeline ol li:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 50%;
    left: calc(100% + 1px);
    bottom: 0;
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: red;
}

.timeline ol li div {
    position: absolute;
    left: calc(100% + 7px);
    width: 280px;
    padding: 15px;
    font-size: 1rem;
    white-space: normal;
    color: black;
    background: yellow;
}

.timeline ol li div::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
}

.timeline ol li:nth-child(odd) div {
    top: -16px;
    transform: translateY(-100%);
}

.timeline ol li:nth-child(odd) div::before {
    top: 100%;
    border-width: 8px 8px 0 0;
    border-color: blue transparent transparent transparent;
}

.timeline ol li:nth-child(even) div {
    top: calc(100% + 16px);
}

.timeline ol li:nth-child(even) div::before {
    top: -8px;
    border-width: 8px 0 0 8px;
    border-color: transparent transparent transparent blue;
}*/
