.body-div{
    margin-top: 80px;
}

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
}

.navbar-toggle {
    z-index:3;
}

.navbar {
    background-color: #a69afe;
}

.nav-link > *, .navbar-brand {
    color: white !important;
}

.btn a {
    color: white;
}

.btn {
    margin-top: 10px;
}

/*carosel*/
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      height: 500px;
      margin: auto;
  }

/*width="460" height="345"*/

.home-body {
    padding-top: 3%;
    height: 200px;
    text-align: center;
}

h1 {
    color: #74c0cd;
    font-weight: bold;
}

.reviews {
    background-color: #bee4e7;
    height: 200px;
    padding-top: 50px;

}

/*green #0d512a
light blue #bee4e7
light green #bee4e7
lilac #a69afe
dark blu #2f2989*/