@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">


    <section class="timeline">
        <ol>
            <li>
                <div>
                    <h4>Zero to One</h4>
                    <p>Some content here</p>
                </div>
            </li>
            <li>
                <div>
                    <h4>One to Two</h4>
                    <p>Some content here</p>
                </div>
            </li>
            <li>
                <div>
                    <h4>Two to Three</h4>
                    <p>Some content here</p>
                </div>
            </li>
            <li>
                <div>
                    <h4>Three to Four</h4>
                    <p>Some content here</p>
                </div>
            </li>
            <li>
                <div>
                    <h4>Four to Five</h4>
                    <p>Some content here</p>
                </div>
            </li>
        </ol>
    </section>
</div>