@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1>Resources</h1>
    <hr />

    <div class="row resources">
        <div class="col-sm-3">
            <img class="resource-image" src="~/images/speechHearing.png" />
            <h4>Speech and Hearing</h4>
            <hr />
            <a href="http://www.asha.org" target="_blank">American Speech-Language-Hearing Association (ASHA)</a>
            <a href="http://jslhr.pubs.asha.org/article.aspx?articleid=1749261" target="_blank">Speech and Hearing Research</a>
            <a href="http://www.mayoclinic.org/healthy-lifestyle/infant-and-toddler-health/in-depth/language-development/art-20045163" target="_blank">Mayo Clinic - Language Development</a>
        </div>
        <div class="col-sm-3">
            <img class="resource-image" src="~/images/autism.png" />
            <h4>Autism</h4>
            <hr />
            <a href="http://www.autism-society.org/" target="_blank">Autism Society</a>
            <a href="https://www.autismspeaks.org/" target="_blank">Autism Speaks</a>
        </div>
        <div class="col-sm-3">
            <img class="resource-image" src="~/images/books.png" />
            <h4>Reading Material</h4>
            <hr />
            <p><a href="https://www.goodreads.com/book/show/6065751-understanding-the-nature-of-autism">Understanding the Nature of Autism: A Guide to the Autism Spectrum Disorders<br /> <span class="author">-Janice E. Janzen</span></a></p>
            <p><a href="https://www.goodreads.com/book/show/5596545-language-and-literacy-disorders">Language and Literacy Disorders: Infancy Through Adolescence<br /> <span class="author">-Nickola W. Nelson</span></a></p>
            <p><a href="https://www.goodreads.com/book/show/6618274-language-development">Language Development: Foundations, Processes, and Clinical Applications<br /> <span class="author">-Brian B. Shulman, Nina Capone Singleton</span></a></p>
        </div>
        <div class="col-sm-3">
            <img class="resource-image" src="~/images/support.png" />
            <h4>Support Groups</h4>
            <hr />
            <a href="https://www.speechbuddy.com/blog/financial-resources/support-for-families-of-children-with-speech-disorders/" target="_blank">Support for families of children with speech disorders</a>
            <a href="https://www.meetup.com/topics/autism/" target="_blank">Autism meetups in your area</a>


        </div>
    </div>






</div>