@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1>Resources</h1>
    <hr />

    <h4>Speech and Hearing</h4>
    <a href="http://www.asha.org">American Speech-Language-Hearing Association (ASHA)</a>

    <h4>Autism</h4>
    <a href="http://www.autism-society.org/">Autism Society</a>


    <h4>Reading Material</h4>
    <p>Book 1</p>
    <p>Book 2</p>
    <p>Book 3</p>


</div>