@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<Speech.Models.Review>

<div class="container">
    <h1>Reviews</h1>
    <hr />
</div>


    <div class="reviews-page row">
        @foreach(var review in Model)
        {
            <div class="speech-bubble col-xs-3">
                <h4>@review.Name</h4>
                <p><span class="quotes">&#10077;</span>@review.Description</p>
            </div>
        }
    </div>

    <div class="container reviews-page-button">
        @if (User.Identity.IsAuthenticated && !User.IsInRole("Admin"))
        {
            <button type="submit" class="btn">@Html.ActionLink("Add a review", "Create", "Review")</button>
        }
    </div>



   
