@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<Speech.Models.Review>

<div class="container">
    <h1>Reviews</h1>
    <hr />
    @foreach(var product in Model)
    {
        <div class="review">
            <h3>@product.Name</h3>
            <p>@product.Description</p>
        </div>

    }

    @if (User.Identity.IsAuthenticated)
    {
        <button type="submit" class="btn">@Html.ActionLink("Add a review", "Create", "Review")</button>
    }

</div>