@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<Speech.Models.Profile>

<div class="container user-form">

    <h1>All Clients</h1>
    <hr />

    <ol>
        @foreach (var client in Model)
        {
            <li class="assign-role">@Html.ActionLink((string)client.ClientFirst, "Details", new { id = client.ProfileId })</li>
        }
    </ol>

</div>