@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model Speech.Models.Goal


<div class="container user-form">
    <h1>Create a goal for a client</h1>
    <hr />

    @using (Html.BeginForm())
    {
        @Html.LabelFor(model => model.Description)
        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })

        <label>Client</label>
        <br />
        @Html.DropDownList("ProfileId")

        <br />
        <button type="submit" class="btn">Create</button>
    }

    <p>@Html.ActionLink("Back to Client Index", "Clients", "Admin")</p>
</div>