@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<Speech.Models.ApplicationUser>

<div class="container user-form">

    <h1>All users</h1>
    <hr />

    <ol>
        @foreach (var user in Model)
        {
            <li class="assign-role">@user.UserName</li>
        }
    </ol>
   
    @Html.ActionLink("Role Index", "Index", "Roles")

</div>