@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<Speech.Models.ApplicationUser>

<div class="container user-form">

    <h1>All users</h1>
    <hr />

    <ul>
        @foreach (var user in Model)
        {
            <li>@user.UserName</li>
        }
    </ul>

    @Html.ActionLink("Role Console", "Index", "Roles")

</div>