@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">

    <div class="about-image">
        <img src="~/images/speech2.jpg" />
    </div>

    <div class="row abouts">
        <div class="col-sm-4 about-square" id="company">
            <span class="scroll-links">Our Company</span>
        </div>
        <div class="col-sm-4 about-square" id="therapist">
            <span class="scroll-links">Our Therapist</span>
        </div>
        <div class="col-sm-4 about-square" id="teletherapy">
            <span class="scroll-links">Teletherapy</span>
        </div>
    </div>
   
    <div class="company scroll-section">
        <h1>Our Company</h1> 
        <img class="up-arrow" src="~/images/upArrow2.png">
        <hr />
        <p class="about-p">Lorem ipsum dolor sit amet, ipsum sem ut, pretium auctor arcu condimentum torquent posuere, venenatis magna id vel ultricies phasellus in, diam libero tortor tempus proin nec nullam, sed sit. Pede felis placerat amet integer orci, libero mauris ac dignissim aliquam diam aliquam, nulla sit sed lacus, diam in sit integer ut facilisis pede, consectetuer tortor integer. Dui gravida fusce libero turpis vestibulum, ipsum suscipit natoque sit, et mattis massa et aliquam etiam tellus, elit sapien class per. Ut cras imperdiet, malesuada erat, et in, tristique vel bibendum potenti id, ut montes eros viverra ipsum elit duis. Justo phasellus vivamus risus luctus sit velit, in aliquam, molestie massa, duis elit potenti vivamus adipiscing nulla. Eu vestibulum metus quis ultrices libero nulla, facilisis ultrices sem, sed urna vel dolor sed fringilla justo, in nunc vehicula in feugiat pellentesque, diam eos suspendisse cras tristique nibh. Vitae adipiscing sollicitudin odio varius vestibulum, debitis quam maecenas commodo.</p>
    </div>

    <div class="therapist scroll-section">
        <h1>Our Therapist</h1> 
        <img class="up-arrow" src="~/images/upArrow2.png">
        <hr />
        <img id="dayna" src="~/images/dayna.jpg" />
        <p class="about-p">Lorem ipsum dolor sit amet, ipsum sem ut, pretium auctor arcu condimentum torquent posuere, venenatis magna id vel ultricies phasellus in, diam libero tortor tempus proin nec nullam, sed sit. Pede felis placerat amet integer orci, libero mauris ac dignissim aliquam diam aliquam, nulla sit sed lacus, diam in sit integer ut facilisis pede, consectetuer tortor integer. Dui gravida fusce libero turpis vestibulum, ipsum suscipit natoque sit, et mattis massa et aliquam etiam tellus, elit sapien class per. Ut cras imperdiet, malesuada erat, et in, tristique vel bibendum potenti id, ut montes eros viverra ipsum elit duis. Justo phasellus vivamus risus luctus sit velit, in aliquam, molestie massa, duis elit potenti vivamus adipiscing nulla. Eu vestibulum metus quis ultrices libero nulla, facilisis ultrices sem, sed urna vel dolor sed fringilla justo, in nunc vehicula in feugiat pellentesque, diam eos suspendisse cras tristique nibh. Vitae adipiscing sollicitudin odio varius vestibulum, debitis quam maecenas commodo.</p>
    </div>

    <div class="teletherapy scroll-section">
        <h1>Teletherapy</h1> 
        <img class="up-arrow" src="~/images/upArrow2.png">
        <hr />
        <p class="about-p">Lorem ipsum dolor sit amet, ipsum sem ut, pretium auctor arcu condimentum torquent posuere, venenatis magna id vel ultricies phasellus in, diam libero tortor tempus proin nec nullam, sed sit. Pede felis placerat amet integer orci, libero mauris ac dignissim aliquam diam aliquam, nulla sit sed lacus, diam in sit integer ut facilisis pede, consectetuer tortor integer. Dui gravida fusce libero turpis vestibulum, ipsum suscipit natoque sit, et mattis massa et aliquam etiam tellus, elit sapien class per. Ut cras imperdiet, malesuada erat, et in, tristique vel bibendum potenti id, ut montes eros viverra ipsum elit duis. Justo phasellus vivamus risus luctus sit velit, in aliquam, molestie massa, duis elit potenti vivamus adipiscing nulla. Eu vestibulum metus quis ultrices libero nulla, facilisis ultrices sem, sed urna vel dolor sed fringilla justo, in nunc vehicula in feugiat pellentesque, diam eos suspendisse cras tristique nibh. Vitae adipiscing sollicitudin odio varius vestibulum, debitis quam maecenas commodo.</p>
    </div>

</div>