@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">

    <div class="about-image">
        <img src="~/images/skype.jpg" />
    </div>
    <h1>About Us</h1>

    @*<div class="row abouts">
        <div class="col-sm-4 about-square" id="company">
            <p class="scroll-links">Our Company</p>
        </div>
        <div class="col-sm-4 about-square" id="therapist">
            <p class="scroll-links">Our Therapist</p>
        </div>
        <div class="col-sm-4 about-square" id="teletherapy">
            <p class="scroll-links">Teletherapy</p>
        </div>
    </div>*@
   
    <div class="company scroll-section">
        <hr />
        <h2>Our Company</h2> 
        @*<img class="up-arrow" src="~/images/upArrow2.png">*@
        <p class="about-p">Speech Solutions is a teletherapy service that provides speech therapy to children up to the age of 18 regardless of location. We established in 2017 and will continue to grow as the online therapy option continues to gain popularity. </p>
        <p class="about-p">How to get started:</p>
        <div class="row margin">
            <div class="col-sm-1">
                <img class="about-process" src="~/images/schedule.png" />
            </div>
            <div class="col-sm-11">
                <p class="about-p">@Html.ActionLink("Schedule", "Schedule", "Home") a 60 minute consultation with the therapist to learn more about what we can do for you.</p>
            </div>
        </div>
        <div class="row margin">
            <div class="col-sm-1">
                <img class="about-process" src="~/images/phoneCell.png" />
            </div>
            <div class="col-sm-11">
                <p class="about-p">During the consultation, you and the therapist will discuss your child's needs and an initial screening of him/her will be performed to determine eligibility.</p>
            </div>
        </div>
        <div class="row margin">
            <div class="col-sm-1">
                <img class="about-process" src="~/images/eval.png" />
            </div>
            <div class="col-sm-11">
                <p class="about-p">The evaluation will take place and lasts for 2-3 hours. The therapist will work with your child to understand better what his/her needs are.</p>
            </div>
        </div>
        <div class="row margin">
            <div class="col-sm-1">
                <img class="about-process" src="~/images/results.png" />
            </div>
            <div class="col-sm-11">
                <p class="about-p">You and the therapist will discuss the results of the evaluation and recommendations are given for the therapy.</p>
            </div>
        </div>
        <div class="row margin">
            <div class="col-sm-1">
                <img class="about-process" src="~/images/onlineChat.png" />
            </div>
            <div class="col-sm-11">
                <p class="about-p">Sessions start and usually last for 60 minutes. Sessions are carried out online so there is no need for you to travel.</p>
            </div>
        </div>
    </div>

    <div class="therapist scroll-section">
        <hr />
        <img id="dayna" src="~/images/dayna2.jpg" />
        <h2>Our Therapist</h2> 
        @*<img class="up-arrow" src="~/images/upArrow2.png">*@
        <p class="about-p">Dayna Sanders has over seven years of experience working with children with speech and reading difficulties and over 5 years of experience working as an SLP in a middle school. She brings her expertise to Speech Solution to help our clients gain substantial growth in their speech and hearing needs, as well as in their self confidence. Dayna received her Masters of Science in Speech and Hearing Sciences from Washington State University in 2012.</p>
        <p class="about-p">Feel free to reach out to Dayna using the "Contact Us" button in the bottom of your screen or by filling out our @Html.ActionLink("contact form", "Contact", "About").</p>
    </div>

    <div class="teletherapy scroll-section">
        <hr />
        <h2>Why Teletherapy?</h2> 
        <img id="computer" src="~/images/computer.jpeg" />
        @*<img class="up-arrow" src="~/images/upArrow2.png">*@
        <p class="about-p">Teletherapy lets people from all locations have equal access to a certified SLP so that your child can get the help that is needed. Not only does teletherapy allow for easy access to the therapist, it eliminates the need to spend time and effort driving to and from an office. Additionally, your child can receive quality therapy from the comfort and safety of his/her own home. Teletherapy provides the same quality therapy as in-person therapy sessions with many added benefits.</p>
    </div>
    <br />
    <br />
    <br />

</div>