@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">

    <div class="about-image">
        <img src="~/images/speech2.jpg" />
    </div>

    @*<div class="row abouts">
        <div class="col-sm-4 about-square" id="company">
            <p class="scroll-links">Our Company</p>
        </div>
        <div class="col-sm-4 about-square" id="therapist">
            <p class="scroll-links">Our Therapist</p>
        </div>
        <div class="col-sm-4 about-square" id="teletherapy">
            <p class="scroll-links">Teletherapy</p>
        </div>
    </div>*@
   
    <div class="company scroll-section">
        <hr />
        <h1>Our Company</h1> 
        @*<img class="up-arrow" src="~/images/upArrow2.png">*@
        <p class="about-p">Lorem ipsum dolor sit amet, ipsum sem ut, pretium auctor arcu condimentum torquent posuere, venenatis magna id vel ultricies phasellus in, diam libero tortor tempus proin nec nullam, sed sit. Pede felis placerat amet integer orci, libero mauris ac dignissim aliquam diam aliquam, nulla sit sed lacus, diam in sit integer ut facilisis pede, consectetuer tortor integer. Dui gravida fusce libero turpis vestibulum, ipsum suscipit natoque sit, et mattis massa et aliquam etiam tellus, elit sapien class per. Ut cras imperdiet, malesuada erat, et in, tristique vel bibendum potenti id, ut montes eros viverra ipsum elit duis. Justo phasellus vivamus risus luctus sit velit, in aliquam, molestie massa, duis elit potenti vivamus adipiscing nulla. Eu vestibulum metus quis ultrices libero nulla, facilisis ultrices sem, sed urna vel dolor sed fringilla justo, in nunc vehicula in feugiat pellentesque, diam eos suspendisse cras tristique nibh. Vitae adipiscing sollicitudin odio varius vestibulum, debitis quam maecenas commodo.</p>
        <div class="row">
            <div class="col-sm-1">
                <img class="about-process" src="~/images/schedule.png" />
            </div>
            <div class="col-sm-11">
                <p class="about-p">@Html.ActionLink("Schedule", "Schedule", "Home") a 60 minute consultation with the therapist to learn more about what we can do for you.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1">
                <img class="about-process" src="~/images/phoneCell.png" />
            </div>
            <div class="col-sm-11">
                <p class="about-p">During the consultation, you and the therapist will discuss your child's needs and an initial screening of him/her will be performed to determine eligibility.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1">
                <img class="about-process" src="~/images/eval.png" />
            </div>
            <div class="col-sm-11">
                <p class="about-p">The evaluation will take place and lasts for 2-3 hours. The therapist will work with your child to understand better what his/her needs are.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1">
                <img class="about-process" src="~/images/results.png" />
            </div>
            <div class="col-sm-11">
                <p class="about-p">You and the therapist will discuss the results of the evaluation and recommendations are given for the therapy.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1">
                <img class="about-process" src="~/images/onlineChat.png" />
            </div>
            <div class="col-sm-11">
                <p class="about-p">Sessions start and usually last for 60 minutes. Sessions are carried out online so there is no need for you to travel.</p>
            </div>
        </div>
    </div>

    <div class="therapist scroll-section">
        <hr />
        <h1>Our Therapist</h1> 
        @*<img class="up-arrow" src="~/images/upArrow2.png">*@
        <img id="dayna" src="~/images/dayna.jpg" />
        <p class="about-p">Lorem ipsum dolor sit amet, ipsum sem ut, pretium auctor arcu condimentum torquent posuere, venenatis magna id vel ultricies phasellus in, diam libero tortor tempus proin nec nullam, sed sit. Pede felis placerat amet integer orci, libero mauris ac dignissim aliquam diam aliquam, nulla sit sed lacus, diam in sit integer ut facilisis pede, consectetuer tortor integer. Dui gravida fusce libero turpis vestibulum, ipsum suscipit natoque sit, et mattis massa et aliquam etiam tellus, elit sapien class per. Ut cras imperdiet, malesuada erat, et in, tristique vel bibendum potenti id, ut montes eros viverra ipsum elit duis. Justo phasellus vivamus risus luctus sit velit, in aliquam, molestie massa, duis elit potenti vivamus adipiscing nulla. Eu vestibulum metus quis ultrices libero nulla, facilisis ultrices sem, sed urna vel dolor sed fringilla justo, in nunc vehicula in feugiat pellentesque, diam eos suspendisse cras tristique nibh. Vitae adipiscing sollicitudin odio varius vestibulum, debitis quam maecenas commodo.</p>
    </div>

    <div class="teletherapy scroll-section">
        <hr />
        <h1>Teletherapy</h1> 
        @*<img class="up-arrow" src="~/images/upArrow2.png">*@
        <p class="about-p">Lorem ipsum dolor sit amet, ipsum sem ut, pretium auctor arcu condimentum torquent posuere, venenatis magna id vel ultricies phasellus in, diam libero tortor tempus proin nec nullam, sed sit. Pede felis placerat amet integer orci, libero mauris ac dignissim aliquam diam aliquam, nulla sit sed lacus, diam in sit integer ut facilisis pede, consectetuer tortor integer. Dui gravida fusce libero turpis vestibulum, ipsum suscipit natoque sit, et mattis massa et aliquam etiam tellus, elit sapien class per. Ut cras imperdiet, malesuada erat, et in, tristique vel bibendum potenti id, ut montes eros viverra ipsum elit duis. Justo phasellus vivamus risus luctus sit velit, in aliquam, molestie massa, duis elit potenti vivamus adipiscing nulla. Eu vestibulum metus quis ultrices libero nulla, facilisis ultrices sem, sed urna vel dolor sed fringilla justo, in nunc vehicula in feugiat pellentesque, diam eos suspendisse cras tristique nibh. Vitae adipiscing sollicitudin odio varius vestibulum, debitis quam maecenas commodo.</p>
    </div>
    <br />
    <br />
    <br />

</div>