@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Microsoft.AspNetCore.Identity.EntityFrameworkCore.IdentityRole

<div class="container user-form">
    <h1>Confirm role deletion</h1>
    <hr />

    <h4><strong>Name: </strong>@Html.DisplayFor(model => model.Name)</h4>

    @using (Html.BeginForm())
    {
        <input type="submit" class="btn btn-danger" value="Delete">
    }

    <h4>@Html.ActionLink("Back to Index", "Index")</h4>
</div>