@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims

<div>
    <h2>Account Registration</h2>
    <hr />

    @if (User.Identity.IsAuthenticated)
    {
        <p>Hello @User.Identity.Name!</p>
        @using (Html.BeginForm("LogOff", "Account"))
        {
            <input type="submit" class="btn btn-default" value="Log out" />
        }
    }
    else
    {
        <button class="btn">@Html.ActionLink("Register", "Register")</button>
        <br />
        <br />
        <button class="btn">@Html.ActionLink("Log in", "Login")</button>
    }

</div>