@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims

@model Speech.Models.Profile

@if (User.Identity.IsAuthenticated)
{
    <h3>Your Profile Information</h3>
    <p>@Html.DisplayFor(model => model.FirstName)</p>
    
}